<div class="input-sports">
    <div>
        <label for="user-sport{{@index}}">Sport</label>
        <select class="user-sport" id="user-sport{{@index}}" name="sport{{@index}}" required>
            <option disabled >Choose...</option>
            {{#each sports}}
            <option value="{{ this._id }}">{{ this.name }}</option>
            {{/each}}
        </select>
    </div>

    <div class="check-input-row">
        <p>Level: </p>
        <div class="checkbox-list">
            <div class="checkbox-group">
                <input class="checkbox" type="radio" id="level-beginner{{@index}}" name="level{{@index}}" value="beginner">
                <label class="checkbox-label" for="level-beginner">beginner</label>
            </div>
            <div class="checkbox-group">
                <input class="checkbox" type="radio" id="level-intermediate{{@index}}" name="level{{@index}}" value="intermediate">
                <label class="checkbox-label" for="level-intermediate">intermediate</label>
            </div>
            <div class="checkbox-group">
                <input class="checkbox" type="radio" id="level-experienced{{@index}}" name="level{{@index}}" value="experienced">
                <label class="checkbox-label" for="level-experienced">experienced</label>
            </div>
            <div class="checkbox-group">
                <input class="checkbox" type="radio" id="level-professional{{@index}}" name="level{{@index}}" value="professional">
                <label class="checkbox-label" for="level-professional">professional</label>
            </div>
        </div>
    </div>
</div>

<div id="selected-sport"></div>