<div id="home">
    <header>
        <h1>Find partners for <br>your next sports trip!</h1>
    </header>
    <div id="home-listing">
        <div id="filters">
            <h4>Filters:</h4>
            <div class="activity-filter">
                <p>Country:</p>
                {{#each countries }}
                <div class="checkbox-group">
                    <input class="checkbox" type="checkbox" id="{{ this }}" name="country" value="{{ this }}">
                    <label class="checkbox-label" for="{{ this }}">{{ this }}</label>
                </div>
                {{/each}}
            </div>
            <div class="activity-filter select-filter">
                <p>Sport:</p>
                <select multiple>
                    <option selected>Choose...</option>
                    {{#each sports}}
                    <option value={{ this.name }}>{{ this.name }}</option>
                    {{/each}}
                </select>
            </div>
            <div class="activity-filter select-filter">
                <p>Duration:</p>
                {{!-- <label for="activity-duration">Activity duration:</label> --}}
                <select multiple id="activity-duration" name="duration" required>
                    <option selected>Choose...</option>
                    <option value="1/2 day">1/2 day</option>
                    <option value="full day">full day</option>
                    <option value="2 days">2 days</option>
                    <option value="3 days">3 days</option>
                    <option value="4 to 6 days">4 to 6 days</option>
                    <option value="1 week">1 week</option>
                    <option value=">1 week">>1 week</option>
                </select>
            </div>
            <div class="activity-filter">
                <p>Level required:</p>
                <div class="checkbox-group">
                    <input class="checkbox" type="checkbox" id="level-beginner" name="requiredLevel" value="beginner">
                    <label class="checkbox-label" for="level-beginner">beginner</label>
                </div>
                <div class="checkbox-group">
                    <input class="checkbox" type="checkbox" id="level-intermediate" name="requiredLevel"
                        value="intermediate">
                    <label class="checkbox-label" for="level-intermediate">intermediate</label>
                </div>
                <div class="checkbox-group">
                    <input class="checkbox" type="checkbox" id="level-experienced" name="requiredLevel"
                        value="experienced">
                    <label class="checkbox-label" for="level-experienced">experienced</label>
                </div>
                <div class="checkbox-group">
                    <input class="checkbox" type="checkbox" id="level-professional" name="requiredLevel"
                        value="professional">
                    <label class="checkbox-label" for="level-professional">professional</label>
                </div>
            </div>
        </div>
        <div class="activity-list">
            {{#each activities}}
            <div class="each-activity">
                <a href="/activity/{{ this._id }}"><img src="{{ this.sport.picture }}" alt=""></a>
                <h4>{{ this.activityName }}</h4>
                <a href="/user/profile/{{ this.creator._id }}">
                    <div class="activity-creator">
                        <p>with {{ this.creator.firstName }}</p>
                        <img src="{{ this.creator.picture }}" alt="{{ this.creator.firstName }} pic">
                    </div>
                </a>
                <p>Level: {{ this.requiredLevel }}</p>
                <div class="time">
                    <p><i class="fas fa-stopwatch"></i> {{ this.duration }}</p>
                    <p><i class="fas fa-calendar-day"></i> {{ format-date this.date }}</p>
                </div>
                <div class="activity-button">
                    <a href="/activity/{{ this._id }}">Check it out!</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>