<h2>All my activities</h2>

<h3>Activities that I created </h3>

{{#each activity}}

  {{#compare activity.creator._id currentUser._id operator="=="}}

  <div class="each-activity">
    <img src="{{ this.sport.picture }}"
        alt="">
    <h4>{{ this.activityName }}</h4>
    <div class="activity-creator">
      <a href="/profile/{{ this.creator._id }}">
        <p>with {{ this.creator.firstName }}</p>
      </a>
      <img src="{{ this.creator.picture }}"
          alt="{{ this.creator.firstName }} pic">
    </div>
    <p>Level: {{ this.requiredLevel }}</p>
    <div class="time">
      <p><i class="fas fa-stopwatch"></i> {{ this.duration }}</p>
      <p><i class="fas fa-calendar-day"></i> {{ format-date this.date }}</p>
    </div>
    <div class="activity-button">
      <a href="/activity/{{ this._id }}">See details</a>
    </div>
  </div>

  {{else}}
  <p>You have not created an activity yet !</p>

  {{/compare }}

{{/each}}

<h3>Activities I participated to</h3>

{{#each activity}}

  {{#compare this.participants.participantID._id currentUser._id operator="=="}}

  <div class="each-activity">
    <img src="{{ this.sport.picture }}"
        alt="">
    <h4>{{ this.activityName }}</h4>
    <div class="activity-creator">
      <a href="/profile/{{ this.creator._id }}">
        <p>with {{ this.creator.firstName }}</p>
      </a>
      <img src="{{ this.creator.picture }}"
          alt="{{ this.creator.firstName }} pic">
    </div>
    <p>Level: {{ this.requiredLevel }}</p>
    <div class="time">
      <p><i class="fas fa-stopwatch"></i> {{ this.duration }}</p>
      <p><i class="fas fa-calendar-day"></i> {{ format-date this.date }}</p>
    </div>
    <div class="activity-button">
      <a href="/activity/{{ this._id }}">See details</a>
    </div>
  </div>

  {{else}}
  <p>You have not participated in an activity yet !</p>

  {{/compare }}

{{/each}}