<h2>{{user.firstName}} {{user.lastName}}'s profile</h2>


<div class="profile-container">

  {{#if user.picture}}
  <img class="profile-picture"
       src="{{user.picture}}"
       alt="Picture of {{user.firstName}}">
  {{/if}}
  {{#unless user.picture}}
  <h3>No profile picture yet.</h3>
  {{/unless}}

  <table class="profile-infos table">

    <tr>
      <th>Your sports</th>
      <td>
        {{#each user.sports}}
        <ul>
          <li> {{this.sport.name}} -- Level : {{this.level}}</li>
        </ul>
        {{/each}}
      </td>
    </tr>

    <tr>
      <th>Email</th>
      <td>{{user.email}}</td>
    </tr>

    <tr>
      <th>Birth date</th>
      <td>{{format-date user.birthday}}</td>
    </tr>

    <tr>
      <th>Strava profile link</th>
      <td>{{user.stravaLink}}</td>
    </tr>

  </table>


  <h3>{{user.firstName}}'s' reviews</h3>
  {{!-- 
{{#unless reviews.reviewedUser === user._id}}
  no reviews yet !
{{/unless}} 
--}}

</div>