<h2>{{user.firstName}} {{user.lastName}}'s account</h2>

<div id="user-account">
    {{#if user.picture}}
    <h3>Profile picture</h3>
    <img class="" src="{{user.picture}}" alt="{{user.firstName}}'s picture">
    {{/if}}
    {{#unless user.picture}}
    <h3>No profile picture yet.</h3>
    {{/unless}}

    <table class="table account">

        <tr>
            <th>Your sports</th>
            {{#each user.sports}}
            <td>
                <ul>
                    <li> {{this.sport.name}} <br> Level : {{this.level}} </li>
                </ul>
            </td>
            {{/each}}
        </tr>

        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>

        <tr>
            <th>Birth date</th>
            <td>{{format-date user.birthday}}</td>
        </tr>

        <tr>
            <th>Strava profile link</th>
            <td><a href="{{user.stravaLink}}">Strava</a></td>
        </tr>

        <tr rowspan="2">
            <th>Edit account</th>
            <td>
                <a class="link fas fa-pen" href="/user/edit-account/{{user._id}}"></a>
            </td>
        </tr>

    </table>
</div>