<div class="container">

  <h2>{{user.firstName}} {{user.lastName}}'s profile</h2>


  <div class="profile-container">

    {{#if user.picture}}
    <img class="profile-picture" src="{{user.picture}}" alt="Picture of {{user.firstName}}">
    {{/if}}
    {{#unless user.picture}}
    <h3>No profile picture yet.</h3>
    {{/unless}}

    <table class="profile-infos table">

      <tr>
        <th rowspan={{ length user.sports }}>{{user.firstName}}'s sports</th>
        <td>
          {{#each user.sports}}
      <tr>
        <td class="sportNameTable">{{this.sport.name}}</td>
        <td>Level : {{this.level}}</td>
      </tr>
      {{/each}}
      </td>
      </tr>

      <tr>
        <th>Strava profile</th>
        <td><a href="{{user.stravaLink}}">{{user.stravaLink}}</a></td>
      </tr>

    </table>


    <h3 class="review-title">{{user.firstName}}'s reviews</h3>

    {{#if userReviews}}
    <p class="avg-rate">Average rate: {{ avg }}</p>

    <div class="reviews-box">

      {{#each userReviews}}

      <p class="review-date">{{format-date this.reviewDate}}</p>
      <p class="reviewer">Review from :
        <a href="/user/profile/{{this.reviewerName._id}}"> {{this.reviewerName.firstName}} </a> </p>
      <p class="">rate : {{this.rate}}</p>
      <p class="review-content">{{this.reviewContent}}</p>

      {{/each}}

    </div>

    {{else}}
    <p> No reviews yet :) </p>

    {{/if}}

    {{#compare user._id currentUser._id operator="!="}}
    <div id="form-container">
      <form class="form-all" action="/message/{{user._id}}/{{currentUser._id}}" method="post">
        <h3>Send a message to {{user.firstName}}</h3>
        <div>
          <label for="user-lastname">Message</label>
          <textarea name="content">its just a test so please chill</textarea>
        </div>

        <button class="send-msg">Send</button>
      </form>

    </div>
    {{/compare}}
  </div>


</div>
</div>