{{#compare currentUser._id user._id operator="=="}}
{{!-- SECURE THE ACCOUNT PATH --}}

<div class="container">


<h2>{{user.firstName}} {{user.lastName}}'s account</h2>

<div class="profile-container">


  {{#if user.picture}}
  <img class="profile-picture"
       src="{{user.picture}}"
       alt="Picture of {{user.firstName}}">
  {{/if}}
  {{#unless user.picture}}
  <h3>No profile picture yet.</h3>
  {{/unless}}


  <table class="profile-infos table">
    <tr>
      <th>SporTrip profile</th>
      <td><a href="/user/profile/{{user._id}}">http://localhost:3000/user/profile/{{user._id}}</a></td>
    </tr>

    <tr>
      <th>Your sports</th>
      <td>
        {{#each user.sports}}
        <ul>
          <li> {{this.sport.name}} -- Level : {{this.level}}</li>
        </ul>
        {{/each}}
      </td>
    </tr>

    <tr>
      <th>Email</th>
      <td>{{user.email}}</td>
    </tr>

    <tr>
      <th>Birth date</th>
      <td>{{format-date user.birthday}}</td>
    </tr>

    <tr>
      <th>Strava profile</th>
      <td><a href="{{user.stravaLink}}">{{user.stravaLink}}</a></td>
    </tr>

    <tr>
      <th>Edit account</th>
      <td>
        <a class="link fas fa-pen"
           href="/user/edit-account/{{currentUser._id}}"></a>
      </td>
    </tr>

  </table>

</div>
</div>

{{else }}
Forbidden path !
{{/compare}}