<h2>{{user.firstName}} {{user.lastName}}'s profile</h2>


<div class="profile-container">

  {{#if user.picture}}
  <img class="profile-picture" src="{{user.picture}}" alt="Picture of {{user.firstName}}">
  {{/if}}
  {{#unless user.picture}}
  <h3>No profile picture yet.</h3>
  {{/unless}}

  <table class="profile-infos table">

    <tr>
      <th>Your sports</th>
      <td>
        {{#each user.sports}}
        <ul>
          <li> {{this.sport.name}} -- Level : {{this.level}}</li>
        </ul>
        {{/each}}
      </td>
    </tr>

    <tr>
      <th>Strava profile link</th>
      <td>{{user.stravaLink}}</td>
    </tr>

  </table>


  <h3 class="review-title">{{user.firstName}}'s reviews</h3>

  <p class="avg-rate">Average rate: </p>

  <div class="reviews-box">

    {{#each review}}
    {{#compare this.reviewedUser._id ../user.id operator="=="}}

    <p class="review-date">{{format-date this.reviewDate}}</p>
    <p class="reviewer">Review from :
      <a href="/user/profile/{{this.reviewerName._id}}"> {{this.reviewerName.firstName}} </a> </p>
    <p class="">rate : {{this.rate}}</p>
    <p class="review-content">{{this.reviewContent}}</p>

    {{/compare}}
    {{/each}}
  </div>


  {{!-- TO MOVE IN ONE-ACTIVITY PAGE --------------------}}

  {{#compare currentUser._id user._id operator="!="}}
  <p class="review-add">Add your review</p>

  <div class="reviews-box">

    <form action="/user/reviews-for-{{user.id}}" method="post" class="review-form">

      <label for="reviewContent"></label>
      <input type="text" id="reviewContent" name="reviewContent"
        placeholder="Give us some feedback about {{user.firstName}} and his activity." required />
      <label for="rate" class="review-add">Give {{user.firstName}} a note !</label>
      <input type="number" id="rate" name="rate" value="3" min="0" max="5" required />
      <button class="btn-update">Send</button>
    </form>

    {{/compare}}
    <div id="form-container">
      <form action="/message/{{user._id}}/{{currentUser._id}}" method="post">
        <h3>Send a message to {{user.firstName}}</h3>
        <div>
          <label for="user-lastname">Message</label>
          <textarea name="content">its just a test so please chill</textarea>
        </div>

        <button class="send-msg">Send</button>
      </form>

    </div>
  </div>


</div>