<h2>{{user.firstName}} {{user.lastName}}'s profile</h2>

{{#if user.picture}}
<h3>Profile picture</h3>
<img class=""
     src="{{user.picture}}"
     alt="{{user.firstName}} picture">
{{/if}}
{{#unless user.picture}}
<h3>No profile picture yet.</h3>
{{/unless}}

<table class="table account">

  <tr>
    <th>Your sports</th>
    {{#each user.sports}}
    <td>
      <ul>
        <li> {{this.sport.name}} <br> Level : {{this.level}} </li>
      </ul>
    </td>
    {{/each}}
  </tr>

  <tr>
    <th>Email</th>
    <td>{{user.email}}</td>
  </tr>

  <tr>
    <th>Birth date</th>
    <td>{{format-date user.birthday}}</td>
  </tr>

  <tr>
    <th>Strava profile link</th>
    <td>{{user.stravaLink}}</td>
  </tr>

</table>


<h3>{{user.firstName}} reviews</h3>
{{!-- 
{{#unless reviews.reviewedUser === user._id}}
  no reviews yet !
{{/unless}} 
--}}