<h2>My conversations</h2>

{{#unless conversations}}
<p>No conversation yet.</p>
{{/unless}}

<div id="conv-page">
    {{#each conversations }}
    <div class="conv-per-user">
        <div class="conv-block">
            {{#compare this.users.0._id ../currentUser._id operator="=="}}
            <p class="with-whom">With <a href="/user/profile/{{ this.users.1._id }}">{{ this.users.1.firstName }}
                    {{ this.users.1.lastName }}</a>
            </p>
            {{/compare}}
            {{#compare this.users.1._id ../currentUser._id operator="=="}}
            <p class="with-whom">With <a href="/user/profile/{{ this.users.0._id }}">{{ this.users.0.firstName }}
                    {{ this.users.0.lastName }}</a>
            </p>
            {{/compare}}

            {{#each this.messages }}
            {{#compare this.user._id ../../currentUser._id operator="=="}}
            <div>
                <p class="message-sender">{{ this.user.firstName }} <span>{{ format-date this.date }}</span></p>
                <p class="message-content green">{{ this.content }}</p>
            </div>
            {{/compare}}
            {{#compare this.user._id ../../currentUser._id operator="!="}}
            <div class="other-user">
                <p class="message-sender">{{ this.user.firstName }} <span>{{ format-date this.date }}</span></p>
                <p class="message-content yellow">{{ this.content }}</p>
            </div>
            {{/compare}}
            {{/each}}
        </div>

        <div id="form-container">
            <form class="form-all" action="/message{{#each this.users }}/{{ this._id }}{{/each}}" method="post">
                <h3>Keep sharing</h3>
                <div>
                    <label for="user-lastname">Message</label>
                    <textarea name="content"> just a test</textarea>

                </div>
                <button>Send</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>