<h2>{{user.firstName}} {{user.lastName}} message</h2>
{{#each conversations}}
<h3> {{this.user}} </h3>
<p>{{this.message}}</p>
{{/each}}


<div id="form-container">
    <form action="/message/{{activity.creator._id}}"/{{currentUser._id}}" method="post">        
        <h3>Send message to {{activity.creator.firstName}}</h3>
          <div class="form-item">
            <label for="user-lastname">Message</label>
            <input class="" id="user-message" name="content" type="text" placeholder="Your message"
                value="everithyng is just a test" required >
        </div>

        <button>Send your message</button>
    </form>

</div>