<h2>{{ activity.activityName }}</h2>

<div id="activity-container">
    <div id="one-activity-page">
        <img id="one-activity-img"
             src="{{ activity.sport.picture }}"
             alt="{{ activity.sport.name }}">
        <div id="one-activity-content">
            <table>
                <tr>
                    <td>Sport:</td>
                    <td class="activity-details">{{ activity.sport.name }}</td>
                </tr>
                <tr>
                    <td>Organiser:</td>
                    <td class="activity-details"><a
                           href="/user/profile/{{ activity.creator._id}}">{{ activity.creator.firstName }}
                            {{ activity.creator.lastName }}</a></td>
                </tr>
                <tr>
                    <td>Starting date:</td>
                    <td class="activity-details">{{ format-date activity.date }}</td>
                </tr>
                <tr>
                    <td>Starting time:</td>
                    <td class="activity-details">{{ format-time activity.date }}</td>
                </tr>
                <tr>
                    <td>Duration:</td>
                    <td class="activity-details">{{ activity.duration }}</td>
                </tr>
                <tr>
                    <td>Level required:</td>
                    <td class="activity-details">{{ activity.requiredLevel }}</td>
                </tr>
                <tr>
                    <td>Max. number of participants:</td>
                    <td class="activity-details">{{ activity.maxNbParticipants }}</td>
                </tr>
                <tr>
                    <td>Registered participants:</td>
                    <td class="activity-details">
                        {{#each activity.participants }}
                        <p><a href="/user/profile/{{ this.participantID._id }}">{{ this.participantID.firstName }}
                                {{ this.participantID.lastName }}</a></p>
                        {{/each}}
                    </td>
                </tr>
            </table>
            <div id="description">
                <p>More details about this {{ activity.sport.name }} event:</p>
                <p class="activity-details">{{ activity.description }}</p>
            </div>
        </div>
        {{!-- accessible only if logged user.id === creator --}}
        {{#compare activity.creator._id currentUser._id operator="=="}}
        <div class="btn-update">
            <a href="/activity/update/{{ activity._id }}">Update activity</a>
        </div>
        {{/compare}}

        {{#compare activity.creator._id currentUser._id operator="!="}}
        <div class="btn-register">
            <a href="/activity/register/{{ activity._id }}/{{ currentUser._id }}">Register for this activity</a>
        </div>
        <div id="form-container">
            <form action="/message/{{activity.creator._id}}/{{currentUser._id}}"
                  method="post">
                <h3>Send a message to {{activity.creator.firstName}}</h3>
                <div>
                    <label for="user-lastname">Message</label>
                    <textarea class="textarea"
                              id="user-message"
                              name="content"
                              placeholder="Ask for details about the activity if you want to know more !">Hey ! I'd like to know more about your activity !</textarea>
                </div>
                <button class="btn-send">Send</button>
            </form>
        </div>
        {{/compare}}

        {{!-- ADD REVIEWS SECTION ---}}

        {{#compare currentUser._id activity.creator._id operator="!="}}
        <p class="review-add">{{currentUser.firstName}}, it seems that you participated. <br>
            Please, give us some feedback about {{activity.creator.firstName}}'s activity !</p>

        <div class="reviews-box">

            <form action="/activity/{{activity.id}}/reviews-for-{{activity.creator._id}}"
                  method="post"
                  class="review-form">

                <label for="reviewContent"></label>
                <input type="text"
                       id="reviewContent"
                       name="reviewContent"
                       placeholder="Write your comment here."
                       required />
                <label for="rate"
                       class="review-add">Give {{activity.creator.firstName}} a note !</label>
                <input type="number"
                       id="rate"
                       name="rate"
                       value="3"
                       min="0"
                       max="5"
                       required />
                <button class="btn-update">Send</button>
            </form>

            {{/compare}}



        </div>
    </div>